<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Student Tool site</h1>
    <h4><strong>To use your own tool site, please login first!</strong></h4>
    <p class="description">If you are not a user yet, please register now!</p>
    <a href="/register" role="button" class="btn btn-info">Register Now</a>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">User Login</div>
    <div class="panel-body">
      <%= form_for(:login, url: '/') do |f| %>
        <div class="form-group">
          <label for="account"><%= f.label :account, "Account" %></label>
          <%= f.text_field :account, :class => "form-control" ,:id => "account", :placeholder => "Enter account" %>
        </div>
        <div class="form-group">
          <label for="password"><%= f.label :password, "Password" %></label>
          <%= f.text_field :password, :class => "form-control", :id => "password", :placeholder => "Enter password" %>
        </div>
        <%= f.submit :class => "btn btn-primary"%>
      <% end %>
    </div>
  <div>
<div>